@page "/"

<PageTitle>Military Heritage Database</PageTitle>

<h1>Military Heritage Database</h1>
<br><br>
United States Air Force
<br><br>
Military Heritage Database
<br><br>
World War II
<br><br>
"Remember And Share ... With Those Who Where There"
<br><br>
Eigth Air Force<br>
Second Air Division<br>
44th Bomb Group<br>
<br><br>
Future Home of the decoded database started in this X/Twitter thread:
<a href="https://twitter.com/mtruslowstorey/status/1703781076689121556">Twitter Thread</a>

<p>
    <img src="https://mhd09192023.blob.core.windows.net/mhdimg/F6UL2L6XQAAop2e-2.webp" />
</p>
<p>
    <img src="https://mhd09192023.blob.core.windows.net/mhdimg/F6ULzH9WMAAExJT-2.webp" />
</p>
