@page "/personnel"

@inherits PersonnelBase
@inject IJSRuntime JSRuntime
<script>
    window.showBioModal = () => {
        $('#bioModal').modal('show');
    };
</script>
<PageTitle>Personnel</PageTitle>

<h1 style="text-align: center;">Personal Profile Index</h1>

<p>This component is grabbing a summary of Personnel Data.</p>

@if (PersonnelList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="sunken-panel">
    <table class="interactive">
        <thead>
            <tr>
                <th>PerIdentification</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Bio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Personnel in PersonnelList)
            {
                <tr>
                    <td>@Personnel.PerIdentification</td>
                    <td>@Personnel.FirstName</td>
                    <td>@Personnel.LastName</td>
                    <td>
                        @if (Personnel.HasBio)
                        {
                            <button type="button" class="btn btn-link" @onclick="() => ShowBioModal(Personnel)">View Bio</button>
                        }
                        else
                        {
                            <span>No Bio</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
     </div>
}
